<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.mapper.CustomerMapper">

    <select id="selectAll"  resultType="hbi.core.dto.Customer">
        SELECT  customer_id 'customerId',customer_number 'customerNumber',customer_name 'customerName' FROM `hap_ar_customers`

    </select>
</mapper>